@import "https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap";



$font-family_1: "Hind Siliguri", sans-serif;
// Font Sizes
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 18px;
$font-size-xlarge: 24px;

// Colors
$color-primary: #0fb465;
$color-secondary: #252525;
$color-light: #fff;
$color-dark: #333;
$color-accent: #008000;
$background-color_4: #007bff;

$color_2: white;


.hind-siliguri-light {
 font-family: $font-family_1;
 font-weight: 300;
}

.hind-siliguri-regular {
 font-family: $font-family_1;
 font-weight: 400;
}

.hind-siliguri-medium {
 font-family: $font-family_1;
 font-weight: 500;
}

.hind-siliguri-semibold {
 font-family: $font-family_1;
 font-weight: 600;
}

.hind-siliguri-bold {
 font-family: $font-family_1;
 font-weight: 700;
}


.money-print {
 font-family: $font-family_1;
 padding: 20px 80px;

 .print-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: $background-color_4;
  color: $color_2;
  border: none;
  cursor: pointer;
  font-size: 16px;
 }

 .divider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;

  &::before {
   content: "";
   border-bottom: 2px dotted $color-dark;
   width: 100%;
   height: 2px;
  }
 }
}

.moneyReceiptBody {
 position: relative;
 overflow: hidden;
 background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"%3E%3Cpath fill="%230fb465" fill-opacity="0.07" d="M0,128L30,112C60,96,120,64,180,69.3C240,75,300,117,360,144C420,171,480,181,540,192C600,203,660,213,720,186.7C780,160,840,96,900,106.7C960,117,1020,203,1080,224C1140,245,1200,203,1260,192C1320,181,1380,203,1410,213.3L1440,224L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"%3E%3C/path%3E%3C/svg%3E') repeat;
 background-size: cover;
 background-position: center;

 .money-receipt-card {
  position: relative;
  z-index: 1; // Ensure the content stays above the wave background
  border: 2px solid $color-primary !important;
  border-radius: 5px;
  margin-bottom: 0;
  background: transparent;
 }

 .money-receipt-header {
  background: rgba(#0fb465, 0.1) !important;
  border-bottom: 2px solid $color-primary;
  padding: 10px 25px;

  .receipt-name {
   margin-bottom: 1px;
   font-size: $font-size-xlarge;
   color: $color-accent;
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: 1px;
  }

  .receipt-address,
  .receipt-email {
   font-size: $font-size-small;
   color: $color-secondary;
   text-transform: capitalize;
   font-weight: 500;
   margin: 4px 0 3px 0;
  }

  .receipt-data {
   .receipt-phone {
    margin: 0;
    font-size: $font-size-small;

    span {
     margin-right: 4px;
     font-size: $font-size-small;
     font-weight: bold;
    }
   }
  }

  .receipt-info-wrapper {
   display: flex;
   align-items: center;
   justify-content: flex-end;

   .copy-of {
    margin-right: 20px;
    border-radius: 20px;
    padding: 4px 10px;
    background-color: $color-primary;
    color: #fff;
   }

   .receipt-info {
    max-width: 200px;

    td {
     padding: 5px 10px !important;
     font-size: $font-size-medium;
     font-weight: 600;
     letter-spacing: 1px;
     border: 1px solid $color-primary;

     &.receipt-no {
      background: $color-primary;
      color: $color-light;
     }

     &.receipt-date {
      background: $color-light;
      color: $color-dark;
     }
    }
   }
  }


  .receipt-title {
   font-size: $font-size-xlarge;
   margin: 0;
   font-weight: 700;
   color: $color-primary;
   letter-spacing: 1.5px;
   text-transform: uppercase;
  }
 }

 .money-receipt-body {
  background: rgba($color-primary, 0.03) !important;
  padding: 10px 25px;

  .client-info {
   h2 {
    margin-bottom: 10px;
    font-size: $font-size-medium;
    border-bottom: 1px dashed $color-primary;
    padding-bottom: 2px;

    &.client-amount {
     text-transform: capitalize;
    }
   }

   h3 {
    font-size: $font-size-medium;
   }

   .amount-box {
    border: 1px solid $color-primary;
    padding: 0px 50px;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
   }
  }

  .client-signatures {
   margin-top: 40px;

   .signature-box {
    width: 70%;
    padding-top: 5px;
    border-top: 1px solid $color-primary;
    margin: auto;
    font-size: $font-size-medium;
   }
  }
 }

 strong {
  font-weight: 600;
 }
}

@media print {
 .print-button {
  display: none;
 }

 @page {
  size: A4 landscape;
  margin: 0;
 }

 body {
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact;
 }

 header {
  display: none;
 }

 footer {
  display: none;
 }

 .invoice-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

 .invoice-copy {
  width: 48%;
 }

 .divider {
  width: 4%;
 }
}