$color_1: #fff;
$color_2: white;
$font-family_1: "Hind Siliguri", sans-serif;
$background-color_1: #727272;
$background-color_2: #e6e6e6;
$background-color_3: #525151;
$background-color_4: #007bff;
$background-color_5: #e0e0e0;

body {
 background: #fff
}

@import "https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap";

/* .summary-table td {
  font-weight: bold;
} */
.hind-siliguri-light {
 font-family: $font-family_1;
 font-weight: 300;
 font-style: normal;
}

.hind-siliguri-regular {
 font-family: $font-family_1;
 font-weight: 400;
 font-style: normal;
}

.hind-siliguri-medium {
 font-family: $font-family_1;
 font-weight: 500;
 font-style: normal;
}

.hind-siliguri-semibold {
 font-family: $font-family_1;
 font-weight: 600;
 font-style: normal;
}

.hind-siliguri-bold {
 font-family: $font-family_1;
 font-weight: 700;
 font-style: normal;
}

body {
 font-family: $font-family_1;
}

.invoice-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
 margin: 0 auto;
 padding: 30px 20px;
 box-sizing: border-box;
}

.invoice-header-into {
 background-color: $background-color_1;
 padding: 2px 0;

 h1 {
  margin: 0;
  font-size: 14px;
  color: $color_1;
 }
}

.invoice-header-company {
 width: 100%;
 display: flex;
 align-items: center;

 .invoice-header-company-name {
  background-color: $background-color_2;
  padding: 5px 0;
  width: 62%;
  border-bottom-right-radius: 30px;

  h1 {
   margin: 0;
   font-size: 30px;
  }
 }

 .invoice-header-company-number {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 10px 0 0;

  p {
   margin: 0 5px 0 0;
   font-size: 12px;
   font-weight: bold;
  }

  span {
   margin: 0;
   font-size: 12px;
  }
 }
}

.invoice-header-company-contact {
 padding-top: 2px;
 display: flex;
 flex-direction: column;
 width: 38%;
}

.invoice-header-provider {
 width: 100%;
 display: flex;
 align-items: center;

 .invoice-header-provider-name {
  width: 70%;
  text-align: left;
  padding: 0 20px;

  h1 {
   margin: 0;
   font-size: 18px;
  }

  p {
   margin: 0;
   font-size: 15px;
  }
 }

 .invoice-header-provider-copy {
  // width: 30%;
  text-align: center;
  background: #1f1f1f;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bold;
  color: $color_1;
 }
}

.invoice-header-ads {
 background-color: $background-color_3;

 p {
  margin: 0;
  padding: 2px 5px;
  color: $color_1;
 }
}

.invoice-header-client {
 padding: 0 20px;

 .invoice-header-client-date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .invoice-no {
   text-align: left;
   width: 60%;
   display: flex;
   align-items: center;

   p {
    margin: 0;
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
   }

   span {
    margin: 0;
    width: 100%;
   }
  }

  .invoice-date {
   text-align: left;
   width: 40%;
   display: flex;
   align-items: center;

   P {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    white-space: nowrap;
   }

   span {
    margin: 0;
   }
  }
 }
}

.invoice-header-client-information {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;

 .invoice-name {
  text-align: left;
  width: 60%;
  display: flex;
  align-items: center;

  p {
   margin: 0;
   white-space: nowrap;
   font-size: 14px;
   font-weight: bold;
   margin-right: 10px;
  }

  span {
   margin: 0;
   border-bottom: 1px dotted #000;
   width: 100%;
  }
 }

 .invoice-mobile {
  text-align: left;
  width: 40%;
  display: flex;
  align-items: center;

  p {
   margin: 0;
   white-space: nowrap;
   font-size: 14px;
   font-weight: bold;
   margin-right: 10px;
  }

  span {
   margin: 0;
   border-bottom: 1px dotted #000;
   width: 100%;
  }
 }
}

.invoice-header-client-name {
 p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  white-space: nowrap;
 }

 span {
  margin: 0;
  border-bottom: 1px dotted #000;
  padding-bottom: 0px;
  width: 100%;
 }
}

.invoice-header-client-address {
 text-align: left;
 width: 100%;
 display: flex;
 align-items: center;

 p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  white-space: nowrap;
 }

 span {
  margin: 0;
  border-bottom: 1px dotted #000;
  padding-bottom: 0px;
  width: 100%;
 }
}

.print-button {
 margin-bottom: 20px;
 padding: 10px 20px;
 background-color: $background-color_4;
 color: $color_2;
 border: none;
 cursor: pointer;
 font-size: 16px;
}

.invoice-content {
 display: flex;
 justify-content: space-between;
 width: 100%;
 position: relative;
}

.invoice-copy {
 width: 48%;
 border: 1px solid #000;
 box-sizing: border-box;
 position: relative;
}

.divider {
 width: 4%;
 display: flex;
 justify-content: center;
 align-items: center;

 &::before {
  content: "";
  border-left: 2px dotted #000;
  height: 100%;
 }
}

.invoice-header {
 text-align: center;
}

.invoice-table {
 text-align: center;
 width: 95%;
 border-collapse: collapse;
 margin: 10px auto 10px;
 font-size: 12px;

 th {
  background-color: $background-color_5;
  font-size: 14px;
  border: 1px solid #b1aeae;
  padding: 2px 8px;
  text-align: left;
 }

 td {
  border: 1px solid #b1aeae;
  padding: 2px 8px;
  text-align: left;
 }
}

.invoice-summary {
 width: 95%;
 margin: 0 auto;
 display: flex;
}

.invoice-kothay {
 width: 55%;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 margin-right: 10px;

 .invoice-kothay-text {
  margin: 0;
  display: flex;
  width: 100%;

  p {
   margin: 0;
   font-size: 15px;
   font-weight: bold;
   margin-right: 10px;
   white-space: nowrap;
  }

  span {
   margin: 0;
   border-bottom: 1px dotted #000;
   padding-bottom: 0px;
   width: 100%;
   font-size: 14px;
  }
 }

 .invoice-kothay-image {
  width: 100%;
  text-align: center;
  margin: 10px 0;

  img {
   height: 45px;
  }
 }
}

.summary-table {
 border-collapse: collapse;
 width: 45%;
 font-size: 12px;

 th {
  border: 1px solid #b1aeae;
  padding: 2px 8px;
  text-align: right;
 }

 td {
  border: 1px solid #b1aeae;
  padding: 2px 8px;
  text-align: right;
 }
}

.invoice-footer {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 95%;
 margin: 40px auto 10px;

 .invoice-footer-client {
  width: 20%;
  text-align: center;

  span {
   text-align: center;
   width: 20%;
   border-top: 1px dotted #000;
   font-size: 14px;
  }
 }

 .invoice-footer-ads {
  text-align: center;
  width: 60%;

  span {
   background-color: $background-color_3;
   color: $color_1;
   padding: 2px 10px;
   border-radius: 20px;
   font-size: 12px;
   text-align: center;
  }
 }

 .invoice-footer-office {
  width: 20%;
  text-align: center;

  span {
   border-top: 1px dotted #000;
   width: 20%;
   font-size: 14px;
   text-align: center;
  }
 }
}

.seal-mohor {
 position: absolute;
 bottom: 7%;
 left: 19%;
 .image-wrapper {
  height: 100px;
  width: 100px;

  img {
   width: 100%;
   height: 100%;
  }
 }
}

@media print {
 .print-button {
  display: none;
 }

 @page {
  size: A4 landscape;
  margin: 0;
 }

 body {
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact;
 }

 header {
  display: none;
 }

 footer {
  display: none;
 }

 .invoice-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

 .invoice-copy {
  width: 48%;
 }

 .divider {
  width: 4%;
 }
}